<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title>Nested Controllers</title>

    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

</head>
<body>

<div ng-controller="CarController">
    My name is {{ name }} and I am a {{ type }}
    <input type="button" ng-click="warning()" />

    <div ng-controller="BMWController">
        My name is {{ name }} and I am a {{ type }}
        <input type="button" ng-click="warning()" />

        <div ng-controller="BMWMotorcycleController">
            My name is {{ name }} and I am a {{ type }}
            <input type="button" ng-click="warning()" />
        </div>
    </div>
</div>

<script>
    function CarController($scope) {
        $scope.name = 'Car';
        $scope.type = 'Carr';
        $scope.warning = function(){
            alert("Car-Warning");
        }
    }
    function BMWController($scope) {
        $scope.name = 'Stella';
    }
    function BMWMotorcycleController($scope) {
        $scope.name = 'SweetieBaby';
        $scope.type = 'Motorcycle';
        $scope.warning = function(){
            alert("BMW-Warning");
        }
    }
</script>

</body>
</html>